<!-- Start Product Details -->

<section class="htc__product__details pt--120 pb--100 bg__white">

    <div class="container">
        <div class="row">
            {{# book}}
            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">

                <div class="product__details__container">
                    <input id="bookId" value="{{_id}}" hidden>
                    <ul class="product__small__images" role="tablist">
                    {{# each bookImage as | item | }}
                        <li role="presentation" class="pot-small-img">
                            <a href="#img-tab-{{@index}}" role="tab" data-toggle="tab">
                                <img src="{{item}}" alt="small-image">
                            </a>
                        </li>
                    {{/each}}
                    </ul>

                    <!-- End Small images -->
                    <div class="product__big__images">
                        <div class="portfolio-full-image tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <img src="{{bookImage.[0]}}" alt="full-image">
                            </div>
                            {{# each bookImage as | item | }}
                            <div role="tabpanel" class="tab-pane" id="img-tab-{{@index}}">
                                <img src="{{item}}" alt="full-image">
                            </div>
                            {{/each}}

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-5 col-lg-5 col-sm-7 col-xs-12 xmt-30">
                <div class="htc__product__details__inner">
                    <div class="pro__detl__title">
                        <div class="pro__detl__title"><h2>{{bookName}}</h2></div>
                    </div>
                    <div class="pro__detl__title mt--20">
                        <h6> - {{author}} -</h6>
                    </div>
                    <ul class="pro__dtl__prize">
                        <li>{{price}} đ</li>
                    </ul>
                    <div class="pro__details mb--20">
                        <p>{{detail}}</p>
                    </div>


                    <ul class="pro__dtl__btn">
                        <li class="buy__now__btn"><a href="/store/add-to-cart/{{_id}}">Mua ngay</a></li>
                    </ul>
                </div>
            </div>
            {{/book}}
        </div>

        <div class="row">

                <div class="row">
                    <div class="h5 mt--40 mb--20">BÌNH LUẬN</div>
                    <div class="product__deatils__tab"/>
                </div>
                <div class="row mtb--20">
                    <div class="col-md-12">
                            <!-- Start Single Content -->
                            <div class="product__tab__content fade in active">
                                <div class="row">
                                    <div class="col-md-8 col-xs-12">
                                        <div class="review__address__inner">
                                            <!-- Start Single Review -->
                                            {{#each comment}}
                                            <div class="pro__review mtb--20">

                                                <div class="review__details">
                                                    <div class="review__info">
                                                        <h4>{{name}}</h4>
                                                        <span>{{time}}</span>
                                                    </div>

                                                    <div class="header--6">{{comment}}</div>
                                                </div>
                                            </div>
                                            {{/each}}
                                            <!-- End Single Review -->
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="review__box">
                                            <form id="comment-form" name="comment-form">
                                                {{#if user}}
                                                    <div class="review__info">
                                                        <input  hidden id="username" name="username" value="{{user.name}}">
                                                    </div>
                                                {{else}}
                                                    <div class="single-review-form">
                                                        <div class="review-box name">
                                                            <input required type="text" id="name" style="width: 100%" name="name" maxlength="50" placeholder="Tên của bạn *">
                                                        </div>
                                                    </div>
                                                {{/if}}
                                                <div class="single-review-form mtb--20">
                                                    <div class="review-box message">
                                                        <textarea required id="comment" name="comment" maxlength="500" placeholder="Bình luận *"></textarea>
                                                    </div>
                                                </div>

                                            </form>
                                            <div class="review-btn">
                                                <button id="send-comment" form="comment-form" formmethod="post"   class="btn btn-custom" >Đăng bình luận</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Start review form -->

                                </div>

                            </div>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>

        </div>
    </div>

</section>
<!-- End Product Details -->

