<!-- Start Our Product Area -->
<section class="htc__product__area shop__page ptb--40 bg__gray">
    <div class="container">
        <div class="htc__product__container">

            <div class="row mtb--50">
                <div class="product__list another-product-style">

                    {{#each book}}
                    <!-- Start Single Product -->
                    <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 p--20 mb--10">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="/store/{{_id}}">
                                        <img src="{{bookImage}}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a title="Add TO Cart" href="cart"><span class="ti-shopping-cart"></span></a></li>
                                        <li><a title="Wishlist" href=""><span class="ti-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <a href="/store/{{_id}}"> <h2>{{bookName}}</h2> </a>
                                <ul class="product__price">
                                    <li class="new__price">{{price}} đ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    {{/each}}
                </div>



            </div>



        </div>

        <br><br><br>

        <div class="text-center">
            {{#if dontFindTitle}}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            {{#if IsHasPrev}}
                                <a class="page-link" href="/store/?page={{previousPage}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            {{/if}}
                        </li>
                        {{#if IsHasPrev}}
                            <li class="page-item"><a class="page-link" href="/store/?page={{previousPage}}">{{previousPage}}</a></li>
                        {{/if}}
                        <li class="page-item  active"><a class="page-link" href="/store/?page={{currentPage}}">{{currentPage}}</a></li>

                        {{#if IsHasNext}}
                            <li class="page-item"><a class="page-link" href="/store/?page={{nextPage}}">{{nextPage}}</a></li>
                        {{/if}}
                        <li class="page-item">
                            {{#if IsHasNext}}
                                <a class="page-link" href="/store/?page={{nextPage}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            {{/if}}
                        </li>
                    </ul>
                </nav>
            {{else}}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            {{#if IsHasPrev}}
                                <a class="page-link" href="/store/?title={{title}}&page={{previousPage}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            {{/if}}
                        </li>
                        {{#if IsHasPrev}}
                            <li class="page-item"><a class="page-link" href="/store/?title={{title}}&page={{previousPage}}">{{previousPage}}</a></li>
                        {{/if}}
                        <li class="page-item  active"><a class="page-link" href="/store/?title={{title}}&page={{currentPage}}">{{currentPage}}</a></li>

                        {{#if IsHasNext}}
                            <li class="page-item"><a class="page-link" href="/store/?title={{title}}&page={{nextPage}}">{{nextPage}}</a></li>
                        {{/if}}
                        <li class="page-item">
                            {{#if IsHasNext}}
                                <a class="page-link" href="/store/?title={{title}}&page={{nextPage}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            {{/if}}
                        </li>
                    </ul>
                </nav>

            {{/if}}


        </div>


    </div>

</section>
<!-- End Our Product Area -->