<!-- Start Our Product Area -->
<section class="htc__product__area shop__page ptb--40 bg__gray">
    <div class="container">
        <div class="htc__product__container">

            <div class="row mtb--50">
                <div class="product__list another-product-style">
                    {{#each book}}
                    <!-- Start Single Product -->
                    <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 p--20 mb--10">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="/store/{{_id}}">
                                        <img src="{{bookImage}}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a title="Add TO Cart" href="cart"><span class="ti-shopping-cart"></span></a></li>
                                        <li><a title="Wishlist" href=""><span class="ti-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <a href="/store/{{_id}}"><h2>{{bookName}}</h2></a>
                                <ul class="product__price">
                                    <li class="new__price">{{price}} đ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    {{/each}}
                </div>
            </div>
            <!-- Start Load More BTn -->
            <div class="row mt--60">
                <div class="col-md-12">
                    <div class="htc__loadmore__btn">
                        <a href="">load more</a>
                    </div>
                </div>
            </div>
            <!-- End Load More BTn -->
        </div>
    </div>

</section>
<!-- End Our Product Area -->