<!-- Start Our Product Area -->
<section class="htc__product__area shop__page ptb--40 bg__white">
    <div class="container">

        <div class="htc__product__container">
            <div class="row mb--50">
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 float-right-style">
                    <div class="categories-menu mrg-xs mt--100">
                        <div class="product-categories-title">
                            <h3><strong>Bộ sưu tập</strong></h3>
                        </div>
                        <div class="category-menu-list">
                            <ul>
                                <li><a href="#"><img alt="" src="/images/icons/book-25.png"> Thể loại <i class="zmdi zmdi-chevron-right"></i></a>
                                    <div class="category-menu-dropdown">
                                        <div class="category-common mb--10">
                                            <h4 class="categories-subtitle"> Thể loại </h4>
                                            <ul>
                                                {{#each catalog}}
                                                    <li class="mt--0 mb--10">
                                                        <a href="/store/?catId={{_id}}"> {{catalogName}}</a>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="#"><img alt="" src="/images/icons/publisher-25.png"> Nhà xuất bản <i class="zmdi zmdi-chevron-right"></i></a>
                                    <div class="category-menu-dropdown">
                                        <div class="category-common mb--10">
                                            <h4 class="categories-subtitle"> Nhà xuất bản </h4>
                                            <ul class="dropdown">
                                                {{#each publisher}}
                                                    <li class="mt--0 mb--10">
                                                        <a href="/store/?pubId={{_id}}"> {{publisherName}}</a>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="#"><img alt="" src="/images/icons/cover-24.png"> Hình thức <i class="zmdi zmdi-chevron-right"></i></a>
                                    <div class="category-menu-dropdown">
                                        <div class="category-common mb--10">
                                            <h4 class="categories-subtitle"> Hình thức </h4>
                                            <ul class="dropdown">
                                                {{#each cover}}
                                                    <li class="mt--0 mb--10">
                                                        <a href="/store/?coverId={{_id}}"> {{coverName}}</a>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <br>

                    <form action="/store" class="form-inline" method="POST">
                        &nbsp&nbspSắp Xếp Theo&nbsp&nbsp&nbsp
                        <div class="form-group">
                            <select name="order" id="order" class="form-control" onchange="location = this.value;">
                                {{#if isLastSortInc}}
                                    <option value="/store/?{{defaultQueryString}}">Mặc Định</option>
                                    <option value="/store/?{{curQueryStringWithoutOrder}}&order=1" selected="selected">Giá Thấp</option>
                                    <option value="/store/?{{curQueryStringWithoutOrder}}&order=-1">Giá Cao</option>
                                {{else if isLastSortDec}}
                                    <option value="/store/?{{defaultQueryString}}">Mặc Định</option>
                                    <option value="/store/?{{curQueryStringWithoutOrder}}&order=1">Giá Thấp</option>
                                    <option value="/store/?{{curQueryStringWithoutOrder}}&order=-1" selected="selected">Giá Cao</option>
                                {{else}}
                                    <option value="/store/?{{defaultQueryString}}" selected="selected">Mặc Định</option>
                                    <option value="/store/?{{curQueryStringWithoutOrder}}&order=1">Giá Thấp</option>
                                    <option value="/store/?{{curQueryStringWithoutOrder}}&order=-1">Giá Cao</option>
                                {{/if}}

                            </select>
                        </div>
                    </form>

                    <br>
                    <div class="filter__box">
                        &nbsp&nbsp<img alt="" src="/images/icons/filter-24.png"><a class="filter__menu" href="#">&nbsp&nbspBộ lọc</a>
                    </div>
                    <!-- Start Filter Menu -->
                    <div class="filter__wrap">
                        <div class="filter__cart">
                            <div class="filter__cart__inner">
                                <div class="filter__menu__close__btn">
                                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                                </div>
                                <div class="filter__content">
                                    <!-- Start Single Content -->
                                    <div class="fiter__content__inner">
                                        <div class="single__filter">
                                            <ul class="filter__list">
                                                <form action="/store" method="GET">
                                                    <div class="form-group">
                                                        <label for="pubId">Chọn nhà xuất bản:</label>
                                                        <select class="form-control" name="pubId" id="pubId">
                                                            {{#each publisher}}
                                                                <option value="{{_id}}">{{publisherName}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="catId">Chọn nhà xuất bản:</label>
                                                        <select class="form-control" name="catId" id="catId">
                                                            {{#each catalog}}
                                                                <option value="{{_id}}">{{catalogName}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="coverId">Chọn hình thức:</label>
                                                        <select class="form-control" name="coverId" id="coverId">
                                                            {{#each cover}}
                                                                <option value="{{_id}}">{{coverName}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="price">Chọn mức giá:</label>
                                                        <select class="form-control" name="price" id="price">
                                                            <option value="1">0.000 ₫ - 50.000 ₫</option>
                                                            <option value="2">50.000 ₫ - 100.000 ₫</option>
                                                            <option value="3">100.000 ₫ - 200.000 ₫</option>
                                                            <option value="4">> 200.000 ₫</option>
                                                        </select>
                                                    </div>
                                                    <input type="submit" class="btn btn-primary" value="Tìm kiếm">
                                                </form>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Single Content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Filter Menu -->
                </div>
                <br>
                {{#if multiSearch}}
                    <h2 class="text-center">Tìm kiếm nâng cao: <strong>{{catalogName}}, {{publisherName}}, {{coverName}}</strong><span class="text-danger" style='font-size: 20px;'>  ({{totalProducts}} sản phẩm)</span></h2>
                {{else}}
                    {{#if catalogName}}
                        <h2 class="text-center"><strong>{{catalogName}}</strong><span class="text-danger" style='font-size: 20px;'>  ({{totalProducts}} sản phẩm)</span></h2>
                    {{/if}}
                    {{#if publisherName}}
                        <h2 class="text-center"><strong>{{publisherName}}</strong><span class="text-danger" style='font-size: 20px;'>  ({{totalProducts}} sản phẩm)</span></h2>
                    {{/if}}
                    {{#if coverName}}
                        <h2 class="text-center"><strong>{{coverName}}</strong><span class="text-danger" style='font-size: 20px;'>  ({{totalProducts}} sản phẩm)</span></h2>
                    {{/if}}
                {{/if}}




                <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style pb--50">
                    <div class="product__list another-product-style">
                        {{#each book}}
                            <!-- Start Single Product -->
                            <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 p--20 mb--10">
                                <div class="product foo">
                                    <div class="product__inner">
                                        <div class="pro__thumb">
                                            <a href="/store/{{_id}}">
                                                <img src="{{bookImage.[0]}}" alt="product images">
                                            </a>
                                        </div>
                                        <div class="product__hover__info">
                                            <ul class="product__action bg__custom">
                                                <li><a title="Add To Cart" href="/store/add-to-cart/{{_id}}"><span class="ti-shopping-cart"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__details">
                                        <a href="/store/{{_id}}"> <h2>{{bookName}}</h2> </a>
                                        <ul class="product__price">
                                            <li class="new__price">{{formatCurrency price}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        {{/each}}
                    </div>
                </div>

            </div>

        </div>
        <br><br><br>
        {{#if isFound}}
            <div class="text-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            {{#if IsHasPrev}}
                                <a class="page-link" href="/store/?{{prevQueryString}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            {{/if}}
                        </li>
                        {{#if IsHasPrev}}
                            <li class="page-item"><a class="page-link" href="/store/?{{prevQueryString}}">{{previousPage}}</a></li>
                        {{/if}}
                        <li class="page-item  active"><a class="page-link" href="/store/?{{curQueryString}}">{{currentPage}}</a></li>

                        {{#if IsHasNext}}
                            <li class="page-item"><a class="page-link" href="/store/?{{nextQueryString}}">{{nextPage}}</a></li>
                        {{/if}}
                        <li class="page-item">
                            {{#if IsHasNext}}
                                <a class="page-link" href="/store/?{{nextQueryString}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            {{/if}}
                        </li>
                    </ul>
                </nav>
            </div>
        {{else}}
        <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style pb--50">
        <div class="product__list another-product-style">
            <div class="text-center">
                <div class="alert alert-danger" role="alert">
                    KHÔNG TÌM THẤY SẢN PHẨM -  <a href="/store" class="alert-link">Quay về cửa hàng!</a>
                </div>
            </div>
        </div>
        </div>
        {{/if}}

    </div>

</section>
<!-- End Our Product Area -->

