<!-- Start Our Product Area -->
<section class="htc__product__area shop__page ptb--40 bg__white">
    <div class="container">

        <div class="htc__product__container">
            <div class="row mb--50">
                <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 float-right-style">
                    <div class="categories-menu mrg-xs mt--100">
                        <div class="product-categories-title">
                            <h3><strong>Bộ sưu tập</strong></h3>
                        </div>
                        <div class="category-menu-list">
                            <ul>
                                <li><a href="#"><img alt="" src="images/icons/book-25.png"> Thể loại <i class="zmdi zmdi-chevron-right"></i></a>
                                    <div class="category-menu-dropdown">
                                        <div class="category-common">
                                            <ul>
                                                {{#each catalog}}
                                                    <li class="mt--0 mb--10">
                                                        <a href="/store/?catId={{_id}}"> {{catalogName}}</a>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="#"><img alt="" src="images/icons/publisher-25.png"> Nhà xuất bản <i class="zmdi zmdi-chevron-right"></i></a>
                                    <div class="category-menu-dropdown">
                                        <div class="category-common mb--10">
                                            <ul class="dropdown">
                                                {{#each publisher}}
                                                    <li class="mt--0 mb--10">
                                                        <a href="/store/?pubId={{_id}}"> {{publisherName}}</a>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li><a href="#"><img alt="" src="images/icons/medals-25.png"> Best sellers <i class="zmdi zmdi-chevron-right"></i></a>
                                    <div class="category-menu-dropdown">
                                        <div class="category-common mb--10">
                                            <h4 class="categories-subtitle"> Bán chạy nhất </h4>
                                            <ul>
                                                <li>Nguyễn Huy Tú</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style pb--50">
                    <div class="product__list another-product-style">
                        {{#each book}}
                            <!-- Start Single Product -->
                            <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 p--20 mb--10">
                                <div class="product foo">
                                    <div class="product__inner">
                                        <div class="pro__thumb">
                                            <a href="/store/{{_id}}">
                                                <img src="{{bookImage}}" alt="product images">
                                            </a>
                                        </div>
                                        <div class="product__hover__info">
                                            <ul class="product__action">
                                                <li><a title="Add To Cart" href="/store/add-to-cart/{{_id}}"><span class="ti-shopping-cart"></span></a></li>
                                                <li><a title="Wishlist" href=""><span class="ti-heart"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__details">
                                        <a href="/store/{{_id}}"> <h2>{{bookName}}</h2> </a>
                                        <ul class="product__price">
                                            <li class="new__price">{{price}} đ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        {{/each}}
                    </div>
                </div>

            </div>

        </div>
        <br><br><br>
        {{#if isFound}}
            <div class="text-center">

                {{#if isFoundTitle}}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                {{#if IsHasPrev}}
                                    <a class="page-link" href="/store/?title={{titleSearch}}&page={{previousPage}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {{/if}}
                            </li>
                            {{#if IsHasPrev}}
                                <li class="page-item"><a class="page-link" href="/store/?title={{titleSearch}}&page={{previousPage}}">{{previousPage}}</a></li>
                            {{/if}}
                            <li class="page-item  active"><a class="page-link" href="/store/?title={{titleSearch}}&page={{currentPage}}">{{currentPage}}</a></li>

                            {{#if IsHasNext}}
                                <li class="page-item"><a class="page-link" href="/store/?title={{titleSearch}}&page={{nextPage}}">{{nextPage}}</a></li>
                            {{/if}}
                            <li class="page-item">
                                {{#if IsHasNext}}
                                    <a class="page-link" href="/store/?title={{titleSearch}}&page={{nextPage}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {{/if}}
                            </li>
                        </ul>
                    </nav>
                {{else if isFoundCatalog}}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                {{#if IsHasPrev}}
                                    <a class="page-link" href="/store/?catId={{catId}}&page={{previousPage}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {{/if}}
                            </li>
                            {{#if IsHasPrev}}
                                <li class="page-item"><a class="page-link" href="/store/?catId={{catId}}&page={{previousPage}}">{{previousPage}}</a></li>
                            {{/if}}
                            <li class="page-item  active"><a class="page-link" href="/store/?catId={{catId}}&page={{currentPage}}">{{currentPage}}</a></li>

                            {{#if IsHasNext}}
                                <li class="page-item"><a class="page-link" href="/store/?catId={{catId}}&page={{nextPage}}">{{nextPage}}</a></li>
                            {{/if}}
                            <li class="page-item">
                                {{#if IsHasNext}}
                                    <a class="page-link" href="/store/?catId={{catId}}&page={{nextPage}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {{/if}}
                            </li>
                        </ul>
                    </nav>
                {{else if isFoundPublisher}}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                {{#if IsHasPrev}}
                                    <a class="page-link" href="/store/?pubId={{pubId}}&page={{previousPage}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {{/if}}
                            </li>
                            {{#if IsHasPrev}}
                                <li class="page-item"><a class="page-link" href="/store/?pubId={{pubId}}&page={{previousPage}}">{{previousPage}}</a></li>
                            {{/if}}
                            <li class="page-item  active"><a class="page-link" href="/store/?pubId={{pubId}}&page={{currentPage}}">{{currentPage}}</a></li>

                            {{#if IsHasNext}}
                                <li class="page-item"><a class="page-link" href="/store/?pubId={{pubId}}&page={{nextPage}}">{{nextPage}}</a></li>
                            {{/if}}
                            <li class="page-item">
                                {{#if IsHasNext}}
                                    <a class="page-link" href="/store/?pubId={{pubId}}&page={{nextPage}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {{/if}}
                            </li>
                        </ul>
                    </nav>
                {{else}}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    {{#if IsHasPrev}}
                                        <a class="page-link" href="/store/?page={{previousPage}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    {{/if}}
                                </li>
                                {{#if IsHasPrev}}
                                    <li class="page-item"><a class="page-link" href="/store/?page={{previousPage}}
                                        ">{{previousPage}}</a></li>
                                {{/if}}
                                <li class="page-item  active"><a class="page-link" href="/store/?page={{currentPage}}
                                    ">{{currentPage}}</a></li>

                                {{#if IsHasNext}}
                                    <li class="page-item"><a class="page-link" href="/store/?page={{nextPage}}
                                        ">{{nextPage}}</a></li>
                                {{/if}}
                                <li class="page-item">
                                    {{#if IsHasNext}}
                                        <a class="page-link" href="/store/?page={{nextPage}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    {{/if}}
                                </li>
                            </ul>
                        </nav>
                {{/if}}

            </div>
        {{else}}
            <div class="text-center">
                <div class="alert alert-danger" role="alert">
                    KHÔNG TÌM THẤY SẢN PHẨM -  <a href="/store" class="alert-link">Quay về cửa hàng!</a>
                </div>
            </div>
        {{/if}}

    </div>

</section>
<!-- End Our Product Area -->

