<!-- cart-main-area start -->
<div class="cart-main-area ptb--50 bg__white">
    <div class="container">
        <div class="row">
            {{#if books}}
                <input class="hidden" id="lengthCart" value="{{books.length}}"/>
                <div class="shopping__cart__inner col-md-12 col-sm-12 col-xs-12">
                    <form action="#">
                        <div class="row">
                            <div class="col-12">
                                <div class="buttons-cart float-left-style">
                                    <a href="/cart/delete">Xóa giỏ hàng <span class="ti-trash"></span></a>
                                </div>

                            </div>
                        </div>
                        <div class="table-content table-responsive">
                            <table class="table-responsive">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Hình ảnh</th>
                                    <th class="product-name">Sản phẩm</th>
                                    <th class="product-price">Đơn giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Thành tiền</th>
                                    <th class="product-remove">Xóa</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each books}}

                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="{{this.item.bookImage}}" alt="product img" /></a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#">{{this.item.bookName}}</a>
                                            </td>
                                            <td  class="product-name">
                                                <p id="price-{{this.item._id}}">{{this.item.price}} đ </p>
                                            </td>
                                            <td  class="product-quantity"> x

                                                <input type="hidden" id="rowId{{@index}}" value="{{@index}}"/>
                                                <input type="hidden" id="bookId{{@index}}" value="{{this.item._id}}"/>
                                                <input name="qty" id="upCart{{@index}}"  type="number" min="1" value="{{this.qty}}" /></td>
                                            <td class="product-subtotal "><p class="subtotal-{{this.item._id}}" >{{this.price}} đ</p></td>
                                            <td class="product-remove center-b">

                                                <a href="/cart/delete-item/{{this.item._id}}"><span class="ti-trash"></span></a>

                                            </td>
                                        </tr>
                                {{/each}}
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <div class="buttons-cart">
                                    <a href="/store"><span class="ti-angle-left"></span> Tiếp tục mua hàng</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <div class="cart_totals">
                                    <h2>Thanh toán</h2>
                                    <table>
                                        <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Tổng tiền</th>
                                            <td class="temp-subtotal">{{totalPrice}} đ</td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Vận chuyển</th>
                                            <td>
                                                <ul id="shipping_method">
                                                    <li>
                                                        <label>
                                                            Free Shipping
                                                        </label>
                                                    </li>

                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Thành tiền</th>
                                            <td class="temp-total">
                                                {{totalPrice}} đ
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {{#if user}}
                                        <div class="wc-proceed-to-checkout">
                                            <a href="/order/new">Tiến hành Đặt hàng</a>
                                        </div>
                                    {{else}}
                                        <div class="wc-proceed-to-checkout">
                                            <a href="/user/login">Đăng nhập và Đặt hàng ngay</a>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {{else}}
                <div class="row ptb--100">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner text-center">
                            <h5 class="title__5 mb--50">CÓ VẺ BẠN CHƯA CHỌN ĐƯỢC CUỐN SÁCH NÀO :((</h5>
                            <p>Hãy ghé ngay cửa hàng và thêm những cuốn sách mà bạn yêu thích nhé</p>
                            <div class="bradcaump-inner">
                                <div class="h5 btn-group-vertical ">
                                    <div class="buttons-cart">
                                        <a href="/store">Quay lại cửa hàng</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
</div>
<!-- cart-main-area end -->