<!-- cart-main-area start -->
<div class="cart-main-area ptb--120 bg__white">
    <div class="container">
        <div class="row">
            {{#if books}}
                <div class="shopping__cart__inner col-md-12 col-sm-12 col-xs-12">
                    <form action="#">
                        <div class="row">
                            <div class="col-12">
                                <div class="buttons-cart float-left-style">
                                    <a href="/cart/delete">Xóa giỏ hàng <span class="ti-trash"></span></a>
                                </div>

                            </div>
                        </div>
                        <div class="table-content table-responsive">
                            <table class="table-responsive">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Hình ảnh</th>
                                    <th class="product-name">Sản phẩm</th>
                                    <th class="product-price">Đơn giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Thành tiền</th>
                                    <th class="product-remove">Tùy chọn</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each books}}
                                <tr>
                                    <td class="product-thumbnail"><a href="#"><img src="{{this.item.bookImage}}" alt="product img" /></a></td>
                                    <td class="product-name"><a href="#"><h5>{{this.item.bookName}}</h5></a></td>
                                    <td class="product-price"><span class="amount">{{this.item.price}}</span></td>
                                    <td class="product-quantity"><input type="number" min="1" value="{{this.qty}}" /></td>
                                    <td class="product-subtotal">{{this.price}}</td>
                                    <td class="product-remove"><a href="/cart/delete-item/{{this.item._id}}"><span class="ti-trash"></span></a></td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>

                        <div class="row">

                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <div class="buttons-cart">
                                    <a href="/store"><span class="ti-angle-left"></span> Tiếp tục mua hàng</a>
                                    <input type="submit" value="Cập nhật giỏ hàng">

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <div class="cart_totals">
                                    <h2>Thanh toán</h2>
                                    <table>
                                        <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Tổng tiền</th>
                                            <td><span class="amount">{{totalPrice}}</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Vận chuyển</th>
                                            <td>
                                                <ul id="shipping_method">
                                                    <li>
                                                        <input type="radio" />
                                                        <label>
                                                            Free Shipping
                                                        </label>
                                                    </li>

                                                </ul>
                                                <p><a class="shipping-calculator-button" href="#">Phí vận chuyển</a></p>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Thành tiền</th>
                                            <td>
                                                <strong><span class="amount">{{totalPrice}}</span></strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        <a href="#">Tiến hành Đặt hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {{else}}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner text-center">
                            <h5 class="title__5 mb--50">CÓ VẺ BẠN CHƯA CHỌN ĐƯỢC CUỐN SÁCH NÀO :((</h5>
                            <p>Hãy ghé ngay cửa hàng và thêm những cuốn sách mà bạn yêu thích nhé</p>
                            <div class="bradcaump-inner">
                                <div class="h5 btn-group-vertical ">
                                    <div class="buttons-cart">
                                        <a href="/store">Tiếp tục mua hàng</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
</div>
<!-- cart-main-area end -->