
<<div class="single-portfolio-area bg__white ptb--100">
    <div class="container">
        {{#user}}
        <div class="row form__offset__50">

            <div class="col-md-5 col-xs-12 ">
                <div class="single-portfolio-img float-left-style" >
                    <img style="max-height:300px;height: auto; width: auto;max-width: 300px" src="{{userImage}}" alt="user-image">
                </div>

            </div>
            <div class="col-md-7 col-xs-12">
                <div class="portfolio-description mrg-sm">
                    <h2>{{name}}</h2>
                    <p>{{detail}}</p>
                    <div class="portfolio-info">
                        <ul>
                            <li><span>Ngày sinh:</span>{{dob}}</li>
                            <li><span>Giới tính:</span>{{gender}}</li>
                            <li><span>Điện thoại:</span>{{phone}}</li>
                            <li><span>Địa chỉ:</span>{{address}}</li>
                            <li><span>Email:</span>{{email}}</li>
                        </ul>
                    </div>
                    <div class="col-3 btn__change__cover mt--10">
                        <a href="/user/profile/modify" >Thay đổi thông tin</a>
                    </div>
                    <div class="col-3 btn__change__cover mt--10">
                        <a href="/user/change-pass" >Thay đổi mật khẩu</a>
                    </div>
                </div>
            </div>

        </div>
        {{/user}}
    </div>
</div>