
<<div class="single-portfolio-area bg__white ptb--100">
    <div class="container">
        {{#user}}
        <div class="row form__offset__50">

            <div class="col-md-5">
                <div class="single-portfolio-img">
                    <img src="{{userImage}}" alt="user-image">
                </div>

            </div>
            <div class="col-md-7">
                <div class="portfolio-description mrg-sm">
                    <h2>{{name}}</h2>
                    <p>{{detail}}</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                    <div class="portfolio-info">
                        <ul>
                            <li><span>Ngày sinh:</span>{{dob}}</li>
                            <li><span>Giới tính:</span>{{gender}}</li>
                            <li><span>Điện thoại:</span>{{phone}}</li>
                            <li><span>Địa chỉ:</span>{{address}}</li>
                            <li><span>Email:</span>{{email}}</li>
                        </ul>
                    </div>
                    <div class="btn__change__cover mt--10">
                        <a href="/user/profile/modify" >Thay đổi ảnh đại diện</a>
                    </div>
                </div>
            </div>

        </div>
        {{/user}}
        <div class="htc__login__btn mt--30">
            <a href="/user/logout">Đăng xuất</a>
        </div>
    </div>
</div>