<div class="container bg__white">
    <div class="form__offset__50 mtb--50">
        <div class="portfolio-description mrg-sm">
            <h2 class="text-center mb--20">Thông tin</h2>
        </div>

        <form name="modifyUser" method="post" enctype="multipart/form-data">
            {{#if errors}}
                {{#each errors}}
                    <div class="alert alert-danger alert-dismissible text-center" role="alert">
                        <div class="alert-message">
                            <strong> {{this}} </strong>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
            {{#user}}
                <div class="row mb--10">
                    <label class="col-form-label col-sm-2 text-sm-right">Tên người dùng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" value="{{name}}" required>
                    </div>
                </div>


                <div class="row mb--10">
                    <label class="col-form-label col-sm-2 text-sm-right">Mô tả</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="detail" rows="3" >{{detail}}</textarea>
                    </div>
                </div>

                <div class="row mb--10">
                    <label class="col-form-label col-sm-2 text-sm-right">Ngày sinh</label>
                    <div class="col-sm-10">
                        <input type="date" ma class="form-control" name="dob" value="{{dob}}" required>
                    </div>
                </div>



                <div class="row mb--10">
                    <label class="col-form-label col-sm-2 text-sm-right">Giới tính</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="gender" value="{{gender}}" required>
                    </div>
                </div>


                <div class="row mb--10">
                    <label class="col-form-label col-sm-2 text-sm-right">Điện thoại</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="phone" value="{{phone}}" required>
                    </div>
                </div>


                <div class="row mb--10">
                    <label class="col-form-label col-sm-2 text-sm-right">Địa chỉ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="address" value="{{address}}" required>
                    </div>
                </div>


                <div class="row mb--10">
                    <label class="col-form-label col-sm-2 text-sm-right">Đăng tải hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="file" name="imageFile" class="form-control" accept="image/*" >
                    </div>
                </div>


                <div class="row mb--10">
                    <div class="col-sm-2 col-xs-0"></div>
                    <div class="col-sm-1 col-xs-3 mb--10">
                        <button type="submit" formmethod="post" formaction="/user/profile/modify" class="btn btn-custom">Lưu</button>
                    </div>

                    <div class="col-sm-1 col-xs-3">
                        <a href="/user/profile"><button type="button" class="btn btn-custom">Hủy</button></a>
                    </div>
                </div>

            {{/user}}
        </form>

    </div>
</div>

